<!DOCTYPE html>
    <html lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <body>

        <div align="center">
            <h1>MONITOR COVID-19 UFPR</h1>
        </div>
    
        <div align="center">  
            <form method="POST" action="/cadastro_pessoa">
                <div class="form-group">
                    <label for="origem">Nome completo:</label><br>
                    <input class="form-control" type="text" id="nome_completo" name="nome_completo" value="" required><br>
                </div>
                <div class="form-group">
                    <label for="origem">E-mail:</label><br>
                    <input class="form-control" type="email" id="email" name="email" value="" required><br>
                </div>
                <div class="form-group">
                    <label for="destino">Senha</label><br>
                    <input class="form-control" type="password" id="senha" name="senha" value="" required><br>
                </div>
                <input class="btn btn-primary" type="submit" value="Cadastrar">
            </form>
        </div>

    </body>
</html>