#origem {
    width:250px;
}

#destino {
    width:250px;
}

#idLote {
    width:250px;
}

#email {
    width:250px;
}

#senha {
    width:250px;
}

#nome_completo {
    width:250px;
}

#telefone {
    width:250px;
}

#idEquipamento {
    width:250px;
}